# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user

# Rider / JetBrains
.idea/

# OS
Thumbs.db
.DS_Store

# Build
*.opensdf
*.sdf
*.cache